*
  margin: 0
  padding: 0

.bxbb
  box-sizing: border-box

.flex
  display: flex

a
  text-decoration: none

body
  font-family: 'Poppins', sans-serif

.header
  margin: 0 auto
  width: 1920px
  height: 725px
  background-image: url(/image/hederFon.gif)
  background-repeat: no-repeat
  background-size: cover
  padding-top: 13px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &_background
    height: 83px
    background-image: url(/image/menu_fon.png)
    align-items: center
    justify-content: center
  &_info
    width: 972px
    &_logo
      width: 172px
      height: 45px
      font-weight: 500
      &_a
        color: #ffffff
      &_1
        font-size: 36px
        letter-spacing: 0.5px
        line-height: 32px
      &_2
        font-size: 15px
        text-transform: uppercase
        letter-spacing: 30px
        line-height: 18px
        margin-left: 2px
    &_tel
      margin-left: 104px
      justify-content: center
      align-items: center
      &_img
        width: 17px
        height: 25px
        margin-right: 13px
      &_number
        color: #ffffff
        font-size: 17px
        font-weight: 400
    &_email
      margin-left: 39px
      justify-content: center
      align-items: center
      &_img
        width: 25px
        height: 19px
        margin-right: 14px
        padding-top: 3px
      &_address
        color: #ffffff
        font-size: 17px
        font-weight: 400
    &_search
      margin-left: 100px
      justify-content: center
      align-items: center
      &_input
        width: 157px
        height: 38px
        background: none
        border: 1px solid #ffffff
        padding-left: 16px
      &_button
        text-align: center
        width: 50px
        height: 38px
        background: none
        border: 1px solid #ffffff
        margin-left: -1px


.menu
  text-align: center
  margin-top: 32px
  &_list
    display: inline-block
  &_link
    color: #000000
    font-size: 17px
    font-weight: 400
    letter-spacing: -1px
    padding: 0 16px
    transition: color 0.5s
    &:hover
      transition: color 0.5s
      color: #ffffff


.main
  margin: 0 auto
  width: 1920px


/**=============блок2==============**/
.about_Us
  height: 500px
  display: flex
  justify-content: center
  padding-top: 81px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  .text_about_Us
    width: 399px
    height: 266px
    margin-right: 33px
    margin-top: 14px
  & h2
    color: #f44336
    font-size: 36px
    font-weight: 500
    margin: 0 0
  & p
    color: #999999
    font-size: 12px
    font-weight: 300
    letter-spacing: 0.12px
    line-height: 24px

.about_Us_img img
  width: 540px
  height: 338px


/**===============================блок3================**/

.services
  height: 762px
  background-color: #f7f7f7
  text-align: -webkit-center
  padding-top: 92px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


.services_text
  color: #f44336
  font-size: 36px
  font-weight: 500
  margin-bottom: 87px


.services_table
  width: 990px
  height: 448px
  border-collapse: collapse


.services_table td
  padding-top: 0
  padding-bottom: 0


.services_table td h3
  padding-bottom: 18px


.cild1_table
  vertical-align: top


.cild2_table
  vertical-align: bottom


.cild1_h3
  padding-top: 4px


.cild3_p
  padding-bottom: 11px


.services_table td p
  color: #999999
  font-size: 12px
  font-weight: 400
  letter-spacing: 0.12px


.services_table td h3
  color: #000000
  font-size: 16px
  font-weight: 500
  letter-spacing: 0.16px


/**===================круги 3 блок===============**/
.sirle
  display: flex
  border: 1px solid #acacac
  background-color: #e1e1e1
  height: 100px
  width: 100px
  border-radius: 50%
  position: relative
  justify-content: center
  align-items: center
  transition: background-color 1s
  &:hover
    transition: background-color 1s
    background-color: #f44336


.vetka
  width: 16px
  height: 28px
  position: absolute
  margin-top: -2px
  margin-left: 1px


.arrow
  width: 23px
  height: 23px
  position: absolute
  margin-top: -2px
  margin-left: 1px


.baks
  width: 15px
  height: 27px
  position: absolute
  margin-top: -2px
  margin-left: 1px


.home
  width: 26px
  height: 24px
  position: absolute
  margin-top: -2px
  margin-left: 1px



.poll
  width: 22px
  height: 22px
  position: absolute
  margin-top: -2px
  margin-left: 1px


.settings
  width: 23px
  height: 23px
  position: absolute
  margin-top: -2px
  margin-left: 1px





/**=====================конец кругов====================**/

.services_table_1
  text-align: end
  width: 348px
  padding-right: 66px


.services_table_2
  width: 348px
  padding-left: 68px


.spase_services
  width: 90px


/**====================блок4=================**/

.gallery
  height: 889px


.block6
  height: 537px
  background-image: url(../image/block6Fon.gif)
  background-repeat: no-repeat


.block7
  height: 888px


.our_team
  height: 785px
  background-color: #f7f7f7


.form
  height: 313px
  background-image: url(../image/hederFon1.gif)
  background-repeat: no-repeat


.contacts
  height: 660px


.maps
  height: 451px


/**===========Подвал=========**/
.footer
  margin: 0 auto
  width: 1920px
  background-color: #000000
  height: 71px
  text-align: center


.footer h3
  color: #ffffff
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.16px
  padding-top: 28px

